body {
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
    /*http://subtlepatterns.com/page/15/*/
}

svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.displayNone {
    display: none;
}

.imdbRedirection {
    background-image: url("../img/url.png");
    width: 30px !important;
    height: 30px !important;
    background-size: 30px;
    display: inline-block;
    cursor: pointer;
}

.editableInput.imdbId {
    display: inline;
}

.mandala div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
}

.fullScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fullScreen.imagesLayer {
    z-index: 1;
}

.filterIndicator{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    width: 250px;
    z-index: 1;
    cursor: pointer;
    height: 20px;
    margin-right: auto;
}

.filterIndicator:hover span {
    text-decoration: underline;
}

.movieCountry:hover,
.directorFilter:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filterIndicator:hover span.filterClearButton {
    text-decoration: underline;
    color: red;
    font-weight: bold;
    display: inline;
}

.successSavingInfoBox,
.wrongSavingInfoBox {
    z-index: 10;
    position: absolute;
    bottom: 10px;
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    padding: 10px;
    opacity: 0;
}

.successSavingInfoBox.show,
.wrongSavingInfoBox.show {
    -webkit-animation-name: showPopup;
    -webkit-animation-duration: 4s;
}

.successSavingInfoBox.hide,
.wrongSavingInfoBox.hide {
    -webkit-animation-name: hidePopup;
    -webkit-animation-duration: 4s;
}

@-webkit-keyframes showPopup {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes hidePopup {
    from {opacity: 1;}
    to {opacity: 0;}
}

.successSavingInfoBox {
    border: 3px solid green;
}

.wrongSavingInfoBox {
    border: 3px solid red;
}

.img-circle {
    border-radius: 50%;
    position: absolute;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.2;
}

.img-circle.solved {
    opacity: 1;
}

/*30.646*/
.circle-size4 {
    width: 57px;
    height: 57px;
    background-size: 57px !important;
}

/*18.34*/
.circle-size3 {
    width: 35px;
    height: 35px;
    background-size: 35px !important;
}

/*15.814*/
.circle-size2 {
    width: 31px;
    height: 31px;
    background-size: 31px !important;
}

/*12.957*/
.circle-size1 {
    width: 25px;
    height: 25px;
    background-size: 25px !important;
}

/*main*/
.circle-main, .circle-size0 {
    width: 900px;
    height: 900px;
    background-size: 100% !important;
    background-position: center center;
    z-index: 5;
}

.glassLayer {
    background-color: black;
    z-index: 2;
    opacity: 0.8;
}

.detailsSphere {
    /*background: radial-gradient(circle at 50% 50%, transparent, black);*/
    background: radial-gradient(circle at 50% 50%, transparent 60%, black 104%);
    z-index: 6;
}

.editableInput:focus {
    background-color: white;
    color: black;
}

.editableInput {
    padding: 10px;
    border: solid 1px gainsboro;
    transition: box-shadow 0.3s, border 0.3s;

    display: block;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    box-shadow: none;

    box-sizing: border-box;

    background-color: black;
    opacity: 0.8;
    z-index: 2;
    color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;

    -webkit-writing-mode: horizontal-tb;
}

ul.movieDetails {
    z-index: 3;
    color: white;
    top: 20%;
    left: 3%;
    position: absolute;
    list-style-type: none;
    font-size: 15px;
    margin-right: 5px;
}

ul.movieDetails div {
    font-weight: normal;
    margin-left: 30px;
    font-size: 20px;
    width: 26%;
}

ul.movieDetails .personName,
ul.movieDetails .movieTitle {
    font-size: 30px;
    font-weight: bold;
}

ul.movieDetails li {
    margin-top: 20px;
}

.loadingScreen {
    z-index: 50;
    background-color: white;
}

.loadingScreen span {
    top: 300px;
    font-size: 100px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.loadingScreen.hide {
    animation-name: hideLoadingScreen;
    animation-duration: 1s;
}

@keyframes hideLoadingScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.grayButton {
    top: 17%;
    left: 3%;
    position: absolute;
    font-size: xx-large;
    z-index: 3;
    color: white;
    cursor: pointer;
}

.blueButton {
    top: 17%;
    left: 6%;
    position: absolute;
    font-size: xx-large;
    z-index: 3;
    color: aqua;
    cursor: pointer;
}